@model IEnumerable<PAWG1.Models.EFModels.Component>


<form asp-controller="TimeRefresh" asp-action="Create" class="d-flex justify-content-center">
    <div class="col-md-2">
        <div class="card shadow-sm p-3">
            <div class="form-group">
                <label for="TimeRefresh1" class="control-label">Time Refresh (Minutes)</label>
                <input class="form-control" placeholder="Time in minutes" name="TimeRefresh1" Value="@ViewBag.timeRefresh.TimeRefresh1" />
            </div>

            <div class="form-group text-center mt-1 mb-0">
                <input type="submit" value="Accept" class="btn btn-primary btn-sm" />
            </div>
        </div>
    </div>
</form>


<div class="mb-4">
    <a asp-action="Create" class="btn btn-primary">Create</a>
</div>

<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Title</th>
            <th>Create Date</th>
            <th>State</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model){
            <tr>
                <td>@c.Title</td>
                <td>@c.CreateDate</td>
                <td>@((c.State == true) ? "Active" : "Disable")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@c.IdComponent" class="btn btn-success">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@c.IdComponent" class="btn btn-info">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@c.IdComponent" class="btn btn-danger">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>